/* public/css/app.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px; /* Example max-width */
    margin: 0 auto;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav-right {
    justify-content: flex-end;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

nav form {
    display: inline;
}

nav form button {
    background-color: #ff3860;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

main {
    padding: 20px;
}
